      <div class="row">
        <!-- navi-vertical -->
        <div class="span2 offset1" data-spy="affix" >
          <ul class="nav nav-pills nav-stacked text-right">
            <li>
              <div class="row">
                <div class="span2">
                    <div class="pull-right text-center text-info img-rounded" style="height:80px; background-color:#f5f5f5; width:80px;">
                        <p></p>
                        <p>访问次数</p>
                        <h4 class="text-error">{{ stats.total }}</h4>
                    </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="span2">
                    <div class="" style="height:20px; width:80px;">
                        <p></p>
                    </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="span2">
                    <div class="pull-right text-center text-info img-rounded" style="height:80px; background-color:#f5f5f5; width:80px;">
                        <p></p>
                        <p>日志</p>
                        <h4 class="text-error">{{ stats.blogs }}</h4>
                    </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="span2">
                    <div class="" style="height:20px; width:80px;">
                        <p></p>
                    </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="span2">
                    <div class="pull-right text-center text-info img-rounded" style="height:80px; background-color:#f5f5f5; width:80px;">
                        <p></p>
                        <p>标签</p>
                        <h4 class="text-error">{{ stats.tags }}</h4>
                    </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div id="divTop" style="position:fixed;">
              <div class="row">
                <div class="span1">
                    <div class="img-rounded pull-right" style="height:50px; width:50px;">
                        <input type="image" class="pull-right" src="/static/myimg/top.jpg" id="aTop" style="height:50px; width:50px; opacity:0.7" />
                    </div>
                </div>
              </div>
        </div>

      </div>

